@using SharkDev.MVC

@if (ViewBag.ObjectsTree != null)
{
    @Html.SharkDev().TreeView(settings =>
{
    settings.Id = "instancesTreeViewContainer";
    settings.Header.Text = "Дерево экземпляров";
    settings.Header.Visible = false;
    settings.Header.Expanded = true;
    settings.ClientHandlers.ContentSelect = "function (e) { " +
                   "$('#instanceProperties').html('Loading...');" +
                   "$('#instanceProperties').load('" + Url.Action("InstanceProperties", "EDObject") + "?id=' +e.id, " +
                   "function(response, status, xhr) {" +
                   "if(status == 'error') { $('#instanceProperties').html(''); }" +
                   "}" +
                   ");" +
               "}";
    settings.Height = 300;
    settings.Width = 270;
    settings.DataOnClient = true;
}).GetContent(ViewBag.ObjectsTree)
}





@section scripts
{
    <script type="text/javascript">
        $("#instancesTreeViewContainer_autoCompleteInput").addClass("form-control text-box single-line");
        $("#instancesTreeViewContainer_autoCompleteInput").attr("placeholder", "Поиск");
        $("#instancesTreeViewContainer").css("width", "100%")
    </script>
}

<p>
<p>
    <button type="button" class="btn">Добавить объект</button>
</p>
<p>
    <button type="button" class="btn">Редактировать объект</button>
</p>
<p>
    <button type="button" class="btn">Удалить объект</button>
</p> 